body {
    display: block;
    margin: 7px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #ae7e4e;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(https://i.pinimg.com/564x/8d/8c/3b/8d8c3b8aaceb194a3a04c450f3132e76.jpg);
    /* image sourced from: https://i.pinimg.com/564x/8d/8c/3b/8d8c3b8aaceb194a3a04c450f3132e76.jpg */
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', bold;
}

element.style {
    display: block;
    margin: auto;
    cursor: zoom-out;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}

h1{
    width: 100%;
    text-align: center;
    color: white;
}

h2{
    width: 100%;
    text-align: center;
}

h5 {
    color: rgb(0, 0, 0);
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
    font-style: italic;
}
  
#list-item__center {
    width: 100%;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#strIngredient {
    display: middle;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#drink-section img {
    vertical-align: middle;
    width: 30%;
    height: auto;
    text-align: center;
    border-style: double;
}

#strDrink {
    vertical-align: middle;
    width: 100%;
    height: auto;
    text-align: center;
    border-style: double;
}

.card {
    position: relative;
    display: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(145, 70, 8);
}

button {
    background-color: rgb(172, 132, 64);
    text-rendering: auto;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    line-height: normal;
    word-spacing: normal;
    border-style: double;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

